<!DOCTYPE html>
<html lang="zxx">
    

<head>        
        
        <!-- Meta -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
        
        <!-- Title -->
        <title>..:: LIBRARIA ::..</title>
        
        <!-- Favicon -->
        <link href="images/favicon.ico" rel="icon" type="image/x-icon" />
        
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        
        <!-- Mobile Menu -->
        <link href="css/mmenu.css" rel="stylesheet" type="text/css" />
        <link href="css/mmenu.positioning.css" rel="stylesheet" type="text/css" />
        
        <!-- Stylesheet -->
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
        
    </head>
    
    <body>
        
        <!-- Start: Header Section -->
        <header id="header-v1" class="navbar-wrapper inner-navbar-wrapper">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-default">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="navbar-header">
                                    <div class="navbar-brand">
                                        <h1>
                                             <a href="index.html">
                                                <img class="logo3" src="\images\Logo1.jpg" alt="LIBRARIA" />
                                            </a>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <!-- Header Topbar -->
                                <div class="header-topbar hidden-sm hidden-xs">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="topbar-info">
                                                <a href="tel:+91-80-26622130-35"><i class="fa fa-phone"></i>+91-80-26622130-35</a>
                                                <span>/</span>
                                                <a href="mailto:support@bmsce.ac.in"><i class="fa fa-envelope"></i>support@bmsce.ac.in</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="topbar-links">
                                                <a href="/login"><i class="fa fa-lock"></i> Register</a>
                                               
                                                    <div class="dropdown-menu cart-dropdown">
                                                        <ul>
                                                            <li class="clearfix">
                                                                <img src="images/header-cart-image-01.jpg" alt="cart item" />
                                                                <div class="item-info">
                                                                    <div class="name">
                                                                        <a href="#">The Great Gatsby</a>
                                                                    </div>
                                                                    <div class="author"><strong>Author:</strong> F. Scott Fitzgerald</div>
                                                                    <div class="price">1 X $10.00</div>
                                                                </div>
                                                                <a class="remove" href="#"><i class="fa fa-trash-o"></i></a>
                                                            </li>
                                                            <li class="clearfix">
                                                                <img src="images/header-cart-image-02.jpg" alt="cart item" />
                                                                <div class="item-info">
                                                                    <div class="name">
                                                                        <a href="#">The Great Gatsby</a>
                                                                    </div>
                                                                    <div class="author"><strong>Author:</strong> F. Scott Fitzgerald</div>
                                                                    <div class="price">1 X $10.00</div>
                                                                </div>
                                                                <a class="remove" href="#"><i class="fa fa-trash-o"></i></a>
                                                            </li>
                                                            <li class="clearfix">
                                                                <img src="images/header-cart-image-03.jpg" alt="cart item" />
                                                                <div class="item-info">
                                                                    <div class="name">
                                                                        <a href="#">The Great Gatsby</a>
                                                                    </div>
                                                                    <div class="author"><strong>Author:</strong> F. Scott Fitzgerald</div>
                                                                    <div class="price">1 X $10.00</div>
                                                                </div>
                                                                <a class="remove" href="#"><i class="fa fa-trash-o"></i></a>
                                                            </li>
                                                        </ul>
                                                        <div class="cart-total">
                                                            <div class="title">SubTotal</div>
                                                            <div class="price">$30.00</div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="navbar-collapse hidden-sm hidden-xs">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown active">
                                            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="/index">Home</a>
                                            
                                        </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="/books">Books</a>
                                           
                                        </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="/news">News &amp; Events</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="news-events-list-view.html">News &amp; Events List View</a></li>
                                                <li><a href="news-events-detail.html">News &amp; Events Detail</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="/login">Login</a>
                                            <ul class="dropdown-menu">
                                             
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="signin.html">Signin/Register</a></li>
                                                <li><a href="404.html">404/Error</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle disabled" href="/blogpage">Blog</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="blog.html">Blog Grid View</a></li>
                                                <li><a href="create-blog.html">Create Blog</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/services">Services</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md">
                            <a href="#mobile-menu"><i class="fa fa-navicon"></i></a>
                            <div id="mobile-menu">
                                <ul>
                                    <li class="mobile-title">
                                        <h4>Navigation</h4>
                                        <a href="#" class="close"></a>
                                    </li>
                                    <li>
                                        <a href="index.html">Home</a>
                                        
                                    </li>
                                    <li>
                                        <a href="books-media-list-view.html">Books &amp; Media</a>
                                    
                                    </li>
                                    <li>
                                        <a href="news-events-list-view.html">News &amp; Events</a>
                                        <ul>
                                            <li><a href="news-events-list-view.html">News &amp; Events List View</a></li>
                                            <li><a href="news-events-detail.html">News &amp; Events Detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul>
                                            
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="signin.html">Signin/Register</a></li>
                                            <li><a href="404.html">404/Error</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog.html">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Blog Grid View</a></li>
                                            
                                            <li><a href="create-blog.html">Create Blog</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- End: Header Section -->
                
        <!-- Start: Page Banner -->
        <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Our Services</h2>
                    <span class="underline center"></span>
                    <p class="lead">Unlock newer possibilities and opportunities!</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index-2.html">Home</a></li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End: Page Banner -->
        <!-- Start: Services Section -->
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="services-main">
                        <div class="services-pg">                            
                            <section class="services-offering">
                                <div class="container">
                                    <div class="center-content">
                                        <h2 class="section-title">SERVICE WE ARE OFFERING</h2>
                                        <span class="underline center"></span>
                                        <p class="lead">Unlock newer possibilities and opportunities!</p>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="contact-location">
                                        <div class="flipcard">
                                            <div class="front">
                                                <div class="top-info">
                                                    <h3><i class="fa fa-credit-card" aria-hidden="true"><svg class="servicess" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16"> <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/> <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/> </svg></i><span>Get your Library Card</span></h3>
                                                </div>
                                                <div class="bottom-info">
                                                    <span class="top-arrow"></span>
                                                    <p>Get your personal library card issued online in few easy steps.Making college documentation process more easy and flexible. </p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="back">
                                                <div class="bottom-info orange-bg">
                                                    <span class="bottom-arrow"></span>
                                                    <p>Get your personal library card issued online in few easy steps.Making college documentation process more easy and flexible.  </p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="top-info dark-bg">
                                                    <h3><i class="fa fa-credit-card" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16"> <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/> <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/> </svg></i><span>Get your Library Card </span></h3>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="flipcard">
                                            <div class="front">
                                                <div class="top-info">
                                                    <h3><i class="fa fa-check Availability" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16"> <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/> </svg></i><span>Check Availability</span></h3>
                                                </div>
                                                <div class="bottom-info">
                                                    <span class="top-arrow"></span>
                                                    <p>User can look for their required book whether it is available in the library or not.</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="back">
                                                <div class="bottom-info orange-bg">
                                                    <span class="bottom-arrow"></span>
                                                    <p>User can look for their required book whether it is available in the library or not.</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="top-info dark-bg">
                                                    <h3><i class="fa fa-check Availability" aria-hidden="true"><svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16"> <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" fill="white"></path> </svg></i><span>Check Availability</span></h3>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="flipcard">
                                            <div class="front">
                                                <div class="top-info">
                                                    <h3><i class="fa fa-book" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><title>ionicons-v5-h</title><path d="M256,160c16-63.16,76.43-95.41,208-96a15.94,15.94,0,0,1,16,16V368a16,16,0,0,1-16,16c-128,0-177.45,25.81-208,64-30.37-38-80-64-208-64-9.88,0-16-8.05-16-17.93V80A15.94,15.94,0,0,1,48,64C179.57,64.59,240,96.84,256,160Z" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="256" y1="160" x2="256" y2="448" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg></i><span>Notes and Highlights</span></h3>
                                                </div>
                                                <div class="bottom-info">
                                                    <span class="top-arrow"></span>
                                                    <p>Short notes and highlights are available for your book.These notes and highlights are provided by best critics.</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="back">
                                                <div class="bottom-info orange-bg">
                                                    <span class="bottom-arrow"></span>
                                                    <p>Short notes and highlights are available for your book.These notes and highlights are provided by best critics.</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="top-info dark-bg">
                                                    <h3><i class="fa fa-book" aria-hidden="true"><svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><title>ionicons-v5-h</title><path d="M256,160c16-63.16,76.43-95.41,208-96a15.94,15.94,0,0,1,16,16V368a16,16,0,0,1-16,16c-128,0-177.45,25.81-208,64-30.37-38-80-64-208-64-9.88,0-16-8.05-16-17.93V80A15.94,15.94,0,0,1,48,64C179.57,64.59,240,96.84,256,160Z" style="fill:none;stroke:#f0efef;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" fill="white"></path><line x1="256" y1="160" x2="256" y2="448" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line></svg></i><span>Notes and Highlights</span></h3>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="flipcard">
                                            <div class="front">
                                                <div class="top-info">
                                                    <h3><i class="fa fa-language" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16"> <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/> <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/> </svg></i><span>Get Translated</span></h3>
                                                </div>
                                                <div class="bottom-info">
                                                    <span class="top-arrow"></span>
                                                    <p>You can read your book in your preffered language. We provide you the transalation feature that will help you read your book.</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="back">
                                                
                                                <div class="bottom-info orange-bg">
                                                    <span class="bottom-arrow"></span>
                                                    <p>You can read your book in your preffered language. We provide you the transalation feature that will help you read your book with more understanding.</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="top-info">
                                                    <h3><i class="fa fa-language" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16"> <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286H4.545zm1.634-.736L5.5 3.956h-.049l-.679 2.022H6.18z"/> <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm7.138 9.995c.193.301.402.583.63.846-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6.066 6.066 0 0 1-.415-.492 1.988 1.988 0 0 1-.94.31z"/> </svg></i><span>Get Translated</span></h3>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="flipcard">
                                            <div class="front">
                                                <div class="top-info">
                                                    <h3><i class="fa fa-microphone" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-microphone-2" width="36" height="36" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"/> <path d="M15.002 12.9a5 5 0 1 0 -3.902 -3.9" /> <path d="M15.002 12.9l-3.902 -3.899l-7.513 8.584a2 2 0 1 0 2.827 2.83l8.588 -7.515z" /> </svg></i><span>Audiobook</span></h3>
                                                </div>
                                                <div class="bottom-info">
                                                    <span class="top-arrow"></span>
                                                    <p>Books are also available in the form of audio books.Now you can listen to your book what does they say.</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="back">
                                                <div class="bottom-info orange-bg">
                                                    <span class="bottom-arrow"></span>
                                                    <p>Books are also available in the form of audio books.Now you can listen to your book what does they say.</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="top-info">
                                                    <h3><i class="fa fa-microphone" aria-hidden="true"<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-microphone-2" width="36" height="36" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"/> <path d="M15.002 12.9a5 5 0 1 0 -3.902 -3.9" /> <path d="M15.002 12.9l-3.902 -3.899l-7.513 8.584a2 2 0 1 0 2.827 2.83l8.588 -7.515z" /> </svg>></i><span>Audiobook</span></h3>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="flipcard">
                                            <div class="front">
                                                <div class="top-info">
                                                    <h3><i class="fa fa-list" aria-hidden="true"<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-stack" viewBox="0 0 16 16"> <path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z"/> <path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z"/> </svg>></i><span>Question Bank</span></h3>
                                                </div>
                                                <div class="bottom-info">
                                                    <span class="top-arrow"></span>
                                                    <p>Library provides the question bank for any competitive exam and previous year exam paper of every semester.</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="back">
                                                <div class="bottom-info orange-bg">
                                                    <span class="bottom-arrow"></span>
                                                    <p>Library provides the question bank for any competitive exam and previous year exam paper of every semester.</p>
                                                    <a href="#">View Selection <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="top-info">
                                                    <h3><i class="fa fa-list" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-stack" viewBox="0 0 16 16"> <path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z"/> <path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z"/> </svg></i><span>Question Bank</span></h3>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </section>
                            <section class="who-we-are">
                                <div class="company-info">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-8 border">
                                                <div class="row">
                                                    <div class="col-sm-11">
                                                        <div class="company-detail">
                                                            <h3 class="section-title">About Library</h3>
                                                            <span class="underline left"></span>
                                                            <p>Libraries are established for the systematic collection, organization, preservation and dissemination of knowledge and information. It is very important for man to preserve and maintain the valuable knowledge and information contained in the books and documents because we want to preserve our knowledge and wisdom for the coming generations. By preserving the documents in a library this knowledge can be made available to others so that they can benefit from it..</p>
                                                            <p>Libraries play a vital role in the development of any society by enhancing the cause of education and academic research. They cater to the information needs of thousands of peoples..</p>
                                                            <h4 class="section-title">Mission</h4>
                                                            <span class="underline left"></span>
                                                            <p>The mission of BMSCE Library is to seek, create, communicate and preserve knowledge and understanding and carryout the mission in a unified community known as College.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="company-image"></div>
                                </div>
                            </section>
                            <div class="fun-stuff">
                                <div class="container">
                                    <div class="facts-counter">
                                        <ul>
                                            <li class="col-sm-3">
                                                <div class="fact-item icon-ebooks">
                                                    <div class="fact-icon">
                                                        <img src="/images/icon-ebooks1.png" alt="" />
                                                    </div>
                                                    <span>eBooks<strong class="fact-counter">45780</strong></span>
                                                </div>
                                            </li>
                                            <li class="col-sm-3">
                                                <div class="fact-item icon-eaudio">
                                                    <div class="fact-icon">
                                                        <img src="/images/icon-eaudio.png" alt="" />
                                                    </div>
                                                    <span>eAudio<strong class="fact-counter">32450</strong></span>
                                                </div>
                                            </li>
                                            <li class="col-sm-3">
                                                <div class="fact-item icon-magazine">
                                                    <div class="fact-icon">
                                                        <img src="/images/icon-magazine1.png" alt="" />
                                                    </div>
                                                    <span>Magazine<strong class="fact-counter">14450</strong></span>
                                                </div>
                                            </li>
                                            <li class="col-sm-3">
                                                <div class="fact-item icon-videos">
                                                    <div class="fact-icon">
                                                        <img src="/images/icon-videos1.png" alt="" />
                                                    </div>
                                                    <span>Videos<strong class="fact-counter">32450</strong></span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <section class="company-info-box">
                                <div class="company-info">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-10 aligncenter">
                                            <div class="col-md-6 border-dark-left">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="company-detail bg-dark margin-left">
                                                            <h3 class="section-title">Study Rooms</h3>
                                                            <span class="underline left"></span>
                                                            <p>Reading rooms provides you various facilities like Cabins, comfortable chairs, WIFI, AC, Charging sockets to charge your electronics, Drinking water, newspapers etc. You will get almost all necessary facilities for a comfortable study. Student suffering to concentrate on studies at hostels or home, these study rooms can help solve that problem.</p>
                                                            <a href="#." class="btn btn-primary">Get a Library card</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 border-dark">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="company-detail bg-light margin-right">
                                                            <h3 class="section-title">Books and more</h3>
                                                            <span class="underline left"></span>
                                                            <p>Different kinds of books are available in our library. Course related books, Historical novels,
                                                                Novels, collections of short stories, poetry and plays. Books by renowned authors which will help to shape students future. College magazines which will let you know about our college</p>
                                                            <a href="contact.html" class="btn btn-dark-gray">Make a request</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- Start: Our Partners Section -->
                            <section class="community-testimonial">
                                <div class="container">
                                    <div class="text-center">
                                        <h2 class="section-title">Testimonials</h2>
                                        <span class="underline center"></span>
                                        <p class="lead">Listen to what our users have to say about us!</p>
                                    </div>
                                    <div class="owl-carousel">
                                        <div class="single-testimonial-box">
                                            <div class="top-portion">
                                                <img src="https://th.bing.com/th/id/OIP.32pwEkjBJComB_SnUT8rpQAAAA?w=117&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Testimonial Image" />
                                                <div class="user-comment">
                                                    <div class="arrow-left"></div>
                                                    <blockquote cite="#">
                                                        The college library website is a great resource for students. It's easy to navigate and has everything I need, from course reserves to research guides. I especially like the way the website is organized by subject, so I can easily find the resources I'm looking for. I would definitely recommend the college library website to other students.
                                                    </blockquote>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="bottom-portion">
                                                    <a href="#" class="author">
                                                        Shivam <small> (Student )</small>
                                                    </a>
                                                <div class="social-share-links">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="single-testimonial-box">
                                            <div class="top-portion">
                                                <img src="https://th.bing.com/th/id/OIP.fh6DmXuebFU4FWOIi4LiCgHaJ4?w=129&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Testimonial Image" />
                                                <div class="user-comment">
                                                    <div class="arrow-left"></div>
                                                    <blockquote cite="#">
                                                        I'm a visual learner, so I really appreciate the way the college library website uses images and videos to help me understand the information. The website also has a lot of interactive features, like quizzes and games, that make learning fun. I would definitely recommend the college library website to other students who are looking for a more engaging way to learn.
                                                    </blockquote>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="bottom-portion">
                                                    <a href="#" class="author">
                                                        Kritika <small> (Student )</small>
                                                    </a>
                                                <div class="social-share-links">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="single-testimonial-box">
                                            <div class="top-portion">
                                                <img src="https://th.bing.com/th/id/OIP.DdY_0JKz452PM9ZkW2jdTwHaLH?w=115&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="Testimonial Image" />
                                                <div class="user-comment">
                                                    <div class="arrow-left"></div>
                                                    <blockquote cite="#">
                                                        I used the college library website to help me with my research paper for my history class. The website had a wealth of information on my topic, and I was able to find a variety of sources to support my argument. I was also able to use the website to find a librarian who helped me with my research questions. I was very impressed with the library website and the resources it offers.
                                                    </blockquote>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="bottom-portion">
                                                    <a href="#" class="author">
                                                        Alok <small> (Student )</small>
                                                    </a>
                                                <div class="social-share-links">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                    </ul>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- End: Our Partners Section -->
                            <section class="category-filter new-release">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 text-center">
                                            <h2 class="section-title">Check Out The New Releases</h2>
                                            <span class="underline center"></span>
                                            <p class="lead">Books of every branch has been made available for students reference.</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="category-filter">
                                    <ul class="category-list">
                                        <li class="category-item">
                                            <figure>
                                                <img src="/images/OIP.jpeg" alt="New Releaase" />
                                                <figcaption class="bg-orange">
                                                    <div class="info-block">
                                                        <h4>Mechatronics</h4>
                                                        <span class="author"><strong>Author:</strong> William Bolton</span>
                                                        <span class="author"><strong>ISBN:</strong> 8989581573268</span>
                                                        <div class="rating">
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                        </div>
                                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque dolor turpis, pulvinar varius.</p>
                                                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                                                        <ol>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-envelope"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-share-alt"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-search"></i>
                                                                </a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <li class="category-item">
                                            <figure>
                                                <img src="https://cdn.shopify.com/s/files/1/0554/9031/4427/products/SPPL_33_Front_480x480.jpg?v=1619501595" alt="New Releaase" />
                                                <figcaption class="bg-orange">
                                                    <div class="info-block">
                                                        <h4>Engineering Mathematics</h4>
                                                        <span class="author"><strong>Author:</strong> Dr. Tapan Kr. Kar & Dr. Soovojeet Jana  </span>
                                                        <span class="author"><strong>ISBN:</strong> 9781581574568</span>
                                                        <div class="rating">
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                        </div>
                                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque dolor turpis, pulvinar varius.</p>
                                                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                                                        <ol>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-envelope"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-share-alt"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-search"></i>
                                                                </a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <li class="category-item">
                                            <figure>
                                                <img src="https://www.picclickimg.com/NsEAAOSw2JtjQqjR/Matlab-and-Simulink-In-depth-by-Priyanka-Patankar-Swapnil.jpg" alt="New Releaase" />
                                                <figcaption class="bg-orange">
                                                    <div class="info-block">
                                                        <h4>Matlab and Simulink</h4>
                                                        <span class="author"><strong>Author:</strong> Priyanka Patankar & Swapnil Kulkarni</span>
                                                        <span class="author"><strong>ISBN:</strong> 9781561573268</span>
                                                        <div class="rating">
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                        </div>
                                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque dolor turpis, pulvinar varius.</p>
                                                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                                                        <ol>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-envelope"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-share-alt"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-search"></i>
                                                                </a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </li>
                                        <li class="category-item">
                                            <figure>
                                                <img src="https://th.bing.com/th/id/R.bdfb0719d5b27a3684f9ffcba4b23791?rik=tNMaL3Jgby8Idw&riu=http%3a%2f%2fprodimage.images-bn.com%2fpimages%2f9780137314911_p0_v1_s1200x630.jpg&ehk=gvOUMLlMJBYRjUfMyjg0EbMKlGY07BXXgn7MRfsQBhE%3d&risl=&pid=ImgRaw&r=0" alt="New Releaase" />
                                                <figcaption class="bg-orange">
                                                    <div class="info-block">
                                                        <h4>Modern Software Engineering</h4>
                                                        <span class="author"><strong>Author:</strong>David Farley</span>
                                                        <span class="author"><strong>ISBN:</strong> 8881581573268</span>
                                                        <div class="rating">
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                            <span></span>
                                                        </div>
                                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque dolor turpis, pulvinar varius.</p>
                                                        <a href="#">Read More <i class="fa fa-long-arrow-right"></i></a>
                                                        <ol>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-envelope"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-share-alt"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <i class="fa fa-search"></i>
                                                                </a>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </li>
                                    </ul>                                    
                                    <div class="clearfix"></div>
                                </div>
                            </section>
                            <!-- Start: Category Filter -->
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- End: Services Section -->
        
        <!-- Start: Social Network -->
        {{!-- <section class="social-network section-padding">
            <div class="container">
                <div class="center-content">
                    <h2 class="section-title">Follow Us</h2>
                    <span class="underline center"></span>
                    <p class="lead">You can follow the college on various platforms for latest updates.</p>
                </div>
                <ul>
                    <li>
                        <a class="facebook" href="#" target="_blank">
                            <span>
                                <i class="fa fa-facebook-f"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="twitter" href="#" target="_blank">
                            <span>
                                <i class="fa fa-twitter"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="google" href="#" target="_blank">
                            <span>
                                <i class="fa fa-google-plus"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="rss" href="#" target="_blank">
                            <span>
                                <i class="fa fa-rss"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="linkedin" href="#" target="_blank">
                            <span>
                                <i class="fa fa-linkedin"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="youtube" href="#" target="_blank">
                            <span>
                                <i class="fa fa-youtube"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- End: Social Network --> --}}
        
        <!-- Start: Footer -->
        <footer class="site-footer">
            <div class="container">
                <div id="footer-widgets">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 widget-container">
                            <div id="text-2" class="widget widget_text">
                                <h3 class="footer-widget-title">About Libraria</h3>
                                <span class="underline left"></span>
                                <div class="textwidget">
                                    Libraries are established for the systematic collection, organization, preservation and dissemination of knowledge and information. It is very important for man to preserve and maintain the valuable knowledge and information contained in the books and documents because we want to preserve our knowledge and wisdom for the coming generations. By preserving the documents in a library this knowledge can be made available to others so that they can benefitfromit.
                                </div>
                                <address>
                                    <div class="info">
                                        <i class="fa fa-location-arrow"><svg class="svgarrow" style="color: red" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M285.6 444.1C279.8 458.3 264.8 466.3 249.8 463.4C234.8 460.4 223.1 447.3 223.1 432V256H47.1C32.71 256 19.55 245.2 16.6 230.2C13.65 215.2 21.73 200.2 35.88 194.4L387.9 50.38C399.8 45.5 413.5 48.26 422.6 57.37C431.7 66.49 434.5 80.19 429.6 92.12L285.6 444.1z" fill="red" ></path></svg></i>
                                        <span>P.O. Box No.: 1908, Bull Temple Road,
                                            Bangalore - 560 019
                                            Karnataka, India.</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-envelope"><svg class="svgarrow" style="color: red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16"> <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" fill="red"></path> </svg></i>
                                        <span><a href="mailto:support@libraria.com">support@bmsce.ac.in</a></span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-phone"><svg class="svgarrow" style="color: red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" fill="red"></path> </svg></i>
                                        <span><a href="tel:+91-80-26614357">+91-80-26614357</a></span>
                                    </div>
                                </address>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 widget-container">
                            <div id="nav_menu-2" class="widget widget_nav_menu">
                                <h3 class="footer-widget-title">Quick Links</h3>
                                <span class="underline left"></span>
                                <div class="menu-quick-links-container">
                                    <ul id="menu-quick-links" class="menu">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Books & Media</a></li>
                                        <li><a href="#">News & Events</a></li>
                                        <li><a href="#">Pages</a></li>
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix hidden-lg hidden-md hidden-xs tablet-margin-bottom"></div>
                        <div class="col-md-2 col-sm-6 widget-container">
                            <div id="text-4" class="widget widget_text">
                                <h3 class="footer-widget-title">Timing</h3>
                                <span class="underline left"></span>
                                <div class="timming-text-widget">
                                    <time datetime="2017-02-13">Mon - Thu: 9 am - 9 pm</time>
                                    <time datetime="2017-02-13">Fri: 9 am - 6 pm</time>
                                    <time datetime="2017-02-13">Sat: 9 am - 5 pm</time>
                                    <time datetime="2017-02-13">Sun: 1 pm - 6 pm</time>
                                    <ul>
                                        <li><a href="#">Closings</a></li>
                                        <li><a href="#">Branches</a></li>
                                    </ul>
                                </div>
                            </div>			
                        </div>
                      
                            
                                <div id="twitter-feed">
                                   
                                </div>
                            </div>			
                        </div>
                    </div>
                </div>                
            </div>
            {{!-- <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-text col-md-3">
                            <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
                        </div>
                        <div class="col-md-9 pull-right">
                            <ul>
                                <li><a href="index-2.html">Home</a></li>
                                <li><a href="books-media-list-view.html">Books &amp; Media</a></li>
                                <li><a href="news-events-list-view.html">News &amp; Events</a></li>
                                <li><a href="#">Pages</a></li>
                                <li><a href="services.html">Blog</a></li>
                                <li><a href="#">Services</a></li>
                                
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> --}}
        </footer>
        <!-- End: Footer -->
        
        <!-- jQuery Latest Version 1.x -->
        <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
        
        <!-- jQuery UI -->
        <script type="text/javascript" src="js/jquery-ui.min.js"></script>
        
        <!-- jQuery Easing -->
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>

        <!-- Bootstrap -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        
        <!-- Mobile Menu -->
        <script type="text/javascript" src="js/mmenu.min.js"></script>
        
        <!-- Harvey - State manager for media queries -->
        <script type="text/javascript" src="js/harvey.min.js"></script>
        
        <!-- Waypoints - Load Elements on View -->
        <script type="text/javascript" src="js/waypoints.min.js"></script>

        <!-- Facts Counter -->
        <script type="text/javascript" src="js/facts.counter.min.js"></script>

        <!-- MixItUp - Category Filter -->
        <script type="text/javascript" src="js/mixitup.min.js"></script>

        <!-- Owl Carousel -->
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        
        <!-- Accordion -->
        <script type="text/javascript" src="js/accordion.min.js"></script>
        
        <!-- Responsive Tabs -->
        <script type="text/javascript" src="js/responsive.tabs.min.js"></script>
        
        <!-- Responsive Table -->
        <script type="text/javascript" src="js/responsive.table.min.js"></script>
        
        <!-- Masonry -->
        <script type="text/javascript" src="js/masonry.min.js"></script>
        
        <!-- Carousel Swipe -->
        <script type="text/javascript" src="js/carousel.swipe.min.js"></script>
        
        <!-- bxSlider -->
        <script type="text/javascript" src="js/bxslider.min.js"></script>
        
        <!-- Custom Scripts -->
        <script type="text/javascript" src="js/main.js"></script>
        
    </body>


</html>